<section class="group">
  <h1>Movie Catalog</h1>
  <div class="details pull-left" *ngIf="selectedMovie">
   <app-movie-details
   (changeYear)="onChangeYear($event)"
   [selectedMovie]="selectedMovie"></app-movie-details>
  </div>
  <div class="list pull-left">
    <ul>
      <ng-container *ngIf="movies && movies.length > 0 ; else noResult">
        <app-movies-list
        (movieSelected)="onMovieSelected($event)"
        [innerMovies]="movies"></app-movies-list>
      </ng-container>
      <ng-template #noResult>
        <li>
          <h3>No Result for movies!</h3>
        </li>
      </ng-template>
    </ul>
  </div>
</section>