<section class="group">
  <h1>Movie Catalog</h1>
  <div class="details pull-left" *ngIf="selectedMovie">
    <h3>{{selectedMovie?.title}} Details</h3>
    <div>
      Id: {{selectedMovie?.id}}
    </div>
    <div>
      <label>
        Title: <input type='text' [(ngModel)]="selectedMovie.title" />
      </label>
    </div>
    <div>
      <label>
        Year: <input type='text' [(ngModel)]="selectedMovie.year" />
      </label>
    </div>
  </div>
  <div class="list pull-left">
    <ul>
      <ng-container *ngIf="movies && movies.length > 0 ; else noResult">
       <app-movies-list [innerMovies]="movies"></app-movies-list>
      </ng-container>
      <ng-template #noResult>
        <li>
          <h3>No Result for movies!</h3>
        </li>
      </ng-template>
    </ul>
  </div>
</section>